# Django
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
.env
db.sqlite3
media/
logs/

# React
node_modules/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Virtual Environment
venv/
env/
